*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards__item {
  display: flex;
}

.grid{
  background-color: transparent;
}

@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 50%;
  }
}

.card {
  display: flex;
  border: none;
  margin:10px;
  background-color: transparent;
  width: 150px;
  justify-content: space-between;
  height: 300px;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}

.captain{
  background-color: aqua;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__body-header-title{
  color: black;
  
  font-size: 18px;
  width: 100;
  justify-content: center;
  font-weight: bold;
  height:50%;
}
.card__body-header-subtitle {
  background-image: linear-gradient(to right,#963cff,#963cff , #ff2882 );
  flex: 1 1 auto;
  font-size:30px;
  font-weight: bold;
  line-height: 50px;
}

.card__body-header>h4{
    margin:0.3em;
    display: table-row;
    flex-wrap: wrap;
    height: 50px;
}

.card__body-header>img{
    display: table-column;
    height: 30px;
}

.cap{
  background: -webkit-gradient(linear, left top, left bottom, from(#F5C21B), to(#D17000));
    height: 20px;
    color: black;
    padding: 0.4em;
    display: table;
    position: relative;
    text-align: center;
    width: 100%;
}


.card__body-header{
    height: 20px;
    padding: 0.4em;
    background-color: white;
    display: table;
    position: relative;
    text-align: center;
    width: 100%;
}
