.playerInfo{
    margin-top: 100px;
    margin-bottom: 20px;
}

#tableContent{
    display: flex;
    flex-direction: row;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bench {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: bisque;
}

.benchPortion{
    margin-top: 5%;
    background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
    padding: 01%;
}
