
.app{
  font-family: 'Poppins';
  position: relative;
}

.appBody{
  margin-top: 80px;
}

.body{
  position: relative;
  bottom: 0;
}


#headerImg{
  content: url('./images/logo.PNG');
}

.dropdown-content{
  margin-top: 100px;
}

@media only screen and (min-width: 600px) {
  .playerTitle{
    display: none;
  }

  .bodyBack{
    background-image: url('./images/back.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: purple;
  }

}




@media only screen and (max-width: 600px) {
  .header>h4{
    visibility: collapse;
  }

  .normalBackground{
    background-color: grey;
    text-align: center;
    border-radius: 10px;
  }


  .normalPlayer{
    background-color:rgb(98, 180, 98);
    border: 5px solid black;
    border-radius: 10px;
  }

  .ranks_points> .box{
    border:4px solid black;
    justify-content: space-between;
    margin: 1em;
    padding:1em;
    text-align: center;
    width: 200px;
  }

  .box>h1{
    color: rgb(241, 68, 68);
    font-size: 4em;
   
}

.body{
  font-size: 6px;
}


}

