.header>img{
    height:70px;
    margin-left: 0px;
}



.header{
    background-color: rgb(56, 2, 56);
    background-image: url(./images/bg.svg);
    background-position: -110px 60px;
    display:flex;
    z-index: 1;
    position: fixed;
    width:100%;
    top:0;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.menubar{
    padding: 2em;
    border-left: 0.1em solid white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bar{
    width: 2.2rem;
    height: .2rem;
    background: #fff;
    margin-bottom: .3rem;
    border-radius: .3rem;
    position: relative;
}

