.header>img{
    height:70px;
    margin-left: 0px;
}

#dropDown{
    margin-right: 100px;
}

.header{
    background-color: rgb(56, 2, 56);
    background-image: url(./images/bg.svg);
    background-position: -110px 60px;
    display:flex;
    position: fixed;
    width:100%;
    top:0;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    
}

.header>h4{
    margin-right: 60px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .header>h4{
        margin-right: 50px;
        font-size: 17px;
    } 

    #dropDown{
        margin-right: 100px;
    }
}